body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.drop-shadow {
  -webkit-filter: drop-shadow(10px 10px 10px #000000);
  filter: drop-shadow(10px 10px 10px #000000);
}

html {
  --banner-bg-color: #193a71;

  scroll-snap-type: y mandatory;
}

/* img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

.scroll-container {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 0px;
  overflow: hidden;
  padding-bottom: 10vh;
}

.scroll-container:last-of-type {
  scroll-snap-align: end;
  padding-top: 10vh;
  padding-bottom: 0vh;
}

.page-container {
  display: block;
  width: 100%;
}

.content-container {
  position: relative;
  /* max-height: 90vh; */
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner-row {
  position: relative;
  margin-top: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-container {
  width: 90%;
  max-width: 350px;
  position: relative;
}

.banner-box {
  /* padding-top: 20%;
  padding-bottom: 20%; */
  width: 100%;
  max-width: 350px;
  position: relative;
}

.banner-bg {
  /* padding-top: 20%;
  padding-bottom: 20%; */
  background-color: var(--banner-bg-color);
  width: 80%;
  height: 100%;
  max-width: 350px;
  filter: drop-shadow(10px 10px 10px #000000);
  position: absolute;
  top: 0px;
  left: 10%;
}

.banner-content {
  position: absolute;
  width: 100%;
  filter: drop-shadow(4px 4px 2px #000000);
}

#madison {
  top: -15%;
  left: 0%;
  width: 95%;
}

#letter-m {
  top: -15%;
  left: 0%;
  width: 95%;
}

#letter-m {
  top: -200%;
  left: 0%;
  width: 250%;
}

#olguin {
  top: 38%;
  left: 35%;
  width: 95%;
}

#letter-m-transparent {
  position: relative;
}

.svg-icon-link {
  /* background-color: #e91d00; */
  display: inline-block;
  width: 5em;
  height: 5em;
  padding-top: 5em;
  border-radius: 0.5em;
}

.svg-icon-link:hover {
  transform: translate(2px, -2px);
}

.btn {
  line-height: 1em !important;
}

.btn svg {
  margin-bottom: 0.1em;
  /* margin-left: 0.1em;
  margin-right: 0.1em; */
}

.icon-button {
  font-size: 2rem;
  line-height: 1rem;
}

.icon-button:hover {
  /* opacity: 90%; */
  cursor: pointer;
}

.icon-button svg {
  pointer-events: none;
}
